# Apple Stock

### Introduction:

We are going to use Apple's stock price.


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv)

In [45]:
stocksDF = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv")

### Step 3. Assign it to a variable apple

In [46]:
apple = stocksDF

### Step 4.  Check out the type of the columns

In [47]:
apple.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Volume         int64
Adj Close    float64
dtype: object

### Step 5. Transform the Date column as a datetime type

In [48]:
apple['Date'] = apple['Date'].astype('datetime64')
apple.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Volume                int64
Adj Close           float64
dtype: object

### Step 6.  Set the date as the index

In [49]:
apple.index = apple.Date
#apple.drop(columns=['Date'], inplace=True)

In [50]:
apple.head(5)

                 Date   Open   High    Low  Close    Volume  Adj Close
Date
2014-07-08 2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
2014-07-07 2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2014-07-03 2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
2014-07-02 2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
2014-07-01 2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

### Step 7.  Is there any duplicate dates?

In [51]:
apple.index.duplicated()

array([False, False, False, ..., False, False, False])

### Step 8.  Ops...it seems the index is from the most recent date. Make the first entry the oldest date.

In [52]:
appleDF = apple.iloc[::-1]
appleDF.head(5)

                 Date   Open   High    Low  Close     Volume  Adj Close
Date
1980-12-12 1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45
1980-12-15 1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
1980-12-16 1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
1980-12-17 1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
1980-12-18 1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41

### Step 9. Get the last business day of each month

In [55]:
appleDF.Date.year()

AttributeError: ignored

### Step 10.  What is the difference in days between the first day and the oldest

### Step 11.  How many months in the data we have?

### Step 12. Plot the 'Adj Close' value. Set the size of the figure to 13.5 x 9 inches

### BONUS: Create your own question and answer it.